.image {
    background-image : url("https://g5-assets-cld-res.cloudinary.com/image/upload/q_auto,f_auto,fl_lossy/v1575399013/g5/g5-c-1t5t8rc1-storquest-self-storage/g5-cl-1jnqm34awd-storquest-self-storage/uploads/adventure-bg.jpg");
    background-repeat : no-repeat;
    background-size : cover;
    height : 500px;
    
}


